<% provide(:title, "注册账号") %>
<div class="container-fix">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>注册账号</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <table class="sign-up-table">
            <tr>
              <td> <%= f.label :name, "姓名", :class => "control-label" %></td>


              <td> <%= f.text_field :name, :class => 'form-control' %>
                <em>（我们推荐你使用真实姓名，这将更利于增加你声望）</em></td>


            </tr>

            <tr>
              <td width="20%"><%= f.label :email %></td>
              <td><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "youemail@example.com" %></td>
            </tr>

            <tr>
              <td><%= f.label :password, "密码" %></td>

              <td>
                <% if @minimum_password_length %>
                    <% minimum_password_str ="最少#{@minimum_password_length}个字符长度" %>
                <% end %>

                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: minimum_password_str %>
              </td>
            </tr>


            <tr>
              <td> <%= f.label :password_confirmation, "确认密码" %></td>
              <td> <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></td>
            </tr>




            <tr>
              <td><label>邀请码</label></td>
              <td> <%= f.text_field :icode, value: resource.icode ||= @icode , class: "form-control" %>
                <em>（本站采用邀请注册，请输入你的邀请码。 <a href="<%= about_icode_path %>">如何获得邀请码？</a>）</em></td>
            </tr>

          </table>
          <button type="submit" class="btn btn-primary">提交</button>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>