<% current_user_liked_comments = current_user.comments_likes.where(comment_id: @comments.map(&:id)) if current_user %>
<% current_user_liked_comments =current_user_liked_comments.index_by(&:comment_id) if current_user_liked_comments %>

<ul class="list-unstyled">
  <% @comments.each do |comment| %>


      <li id="comment_<%= comment.id %>" class="comment">
        <h5><%= image_tag comment.user.avatar.url(:mini), class: "avatar" %>
          <a href="/designers/<%= comment.user.id %>"><%= comment.user.name %></a>
          <% if comment.parent %>
          回复  <a href="/designers/<%= comment.parent.user.id %>"><%= comment.parent.user.name  %></a>
          <% end %>
        </h5>

        <div class="comment-body">
          <%= simple_format comment.content %>


        </div>
        <p class="comment-meta">
          <%= time_ago_in_words comment.created_at %>之前
          <span class="comment-tools">
    <% if user_signed_in? %>

              <% if current_user?(comment.user_id) || current_user_or_admin?(comment.work.user_id) %>
                  <span class="sep"> </span>
                  <a href="<%= remove_comment_path(comment) %>" data-remote="true" data-method="post"><i class="fa fa-remove"></i>
                    删除评论</a>
              <% end %>
                <span class="sep"> </span>
              <span id="objs_report_<%= comment.id %>">
              <a href="<%= reports_create_path(type: "CommentsReport", break_rule: 0, obj_id: comment.id) %>" data-remote="true" data-method="post" data-confirm="你确定要举报这条评论?"><i class="fa fa-flag"></i>
                举报</a></span>

            <span class="sep"> </span>
          <a href="<%= new_comment_path(parent_id: comment.id) %>" data-remote="true"><i class="fa fa-reply"></i>
            回复</a>

                <% if current_user.id != comment.user_id %>
          <span class="sep"> </span>
         <span id="commentsLike_<%= comment.id %>">

                <!--// if current_user already liked, show unlike-->
           <% if current_user_liked_comments && current_user_liked_comments[comment.id] %>
                    <%= render 'comments/unlike_form', comment: comment %>
                <% else %>
                    <%= render 'comments/like_form', comment: comment %>
                <% end %>
          </span>
            <% end %>
<% end %>

</span>
          <% if comment.likes_count > 0 %>
<span class="pull-right">

      <span id="commentsLikesCount_<%= comment.id %>"><%= comment.likes_count %></span>赞</span>
          <% end %>
        </p>

        <div id="comment_reply_<%= comment.id %>"></div>
      </li>


  <% end %>
</ul>