<div class="modal-header">
<div class="attachmment-title">
    <div class="attachment-logo">
      <a href="<%= static_pages_home_path %>"><img src="<%= asset_path "logo.png" %>"></a>
    </div>

  <div class="attachment-close pull-right">
    <div class="attachments">

    </div>
    <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-label="Close"><%= image_tag asset_path("cancel-32.png") %></button>
  </div>

  <div class="attachement-info">
    <ul class="list-unstyled">
      <li><a href="<%= work_path(@work) %>"> <h3><%= @work.title %></h3></a></li>
      <li><%= link_to @work.user.name, "/designers/#{@work.user.id}" %> 发表</li>
    </ul>
  </div>


</div>






</div>

<div class="modal-body" id="attachmentsModalBody">

  <%= image_tag @attachment.media.url(:original) %></div>

