<%= form_for(@work) do |f| %>
    <% if @work.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

          <ul>
            <% @work.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, "标题" %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <i class="fa fa-image"></i> <%= f.label :image, "图片" %> <em>(支持JPG/PNG/GIF格式，推荐4:3比例最佳。不符合这个比例的图片将自动以中心为基准裁切成4:3比例，分辨率将自动转换为400*300px。最大尺寸不可超过3MB)</em><br>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :domain_id, '领域' %> <em>(准确添加到相关领域可增加你作品的曝光率)</em><br>
      <%= f.select  :domain_id,options_for_select(Domain.all_to_options,@work.domain_id ||= current_user.domain_1_id ),{}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :desciption, '描述' %> <em>( 可省略, 支持markdown格式. 例如：链接: &lt;http://www.400px.net&gt; / 加粗: *加粗* )</em><br>
      <%= f.text_area :desciption, class: "form-control", rows: 7 %>
    </div>



    <div class="checkbox ">
      <label>

      <%= f.check_box :is_original %>  原创作品</label>
    </div>

    <div class="actions">
      <%= f.submit "提交", class: "btn btn-primary" %>
    </div>
<% end %>

