<%= form_for(work, url: repost_work_path(work_id),html: {:id => "repost_work_#{work_id}", method: :post }, remote: :true) do |f| %>
    <% if work.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

          <ul>
            <% work.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :title, "标题" %><em>（必填项）</em>
      <%= f.text_field :title, :autofocus=>true, class: "form-control" %>

      <%= f.hidden_field :parent_work_id , value: work_id %>

    </div>



    <div class="form-group">
      <label>描述</label><em>（可选，最长不超过1000字）</em>
      <%= f.text_area :desciption,class: "form-control"  , rows: 4 %>


    </div>



<% end %>
