<div class="work-image">
  <a href="<%= hd_image_work_path(@work) %>" data-remote="true" class="zoom-in">
    <%= image_tag @work.image.url(:sd) %></a>

  <div class="attachments">
    <% if @work.attachments.count > 0 %>
        <h4 class="gray-font"><i class="fa fa-paperclip fa-2x"></i> <%= @work.attachments.count %>个附件</h4>
        <% @work.attachments.each do |attachment| %>

            <% if can_show_image?(attachment.media_content_type) %>
                <a href="<%= "/works/#{@work.id}/attachment/#{attachment.id}" %>" data-remote="true"><%= image_tag attachment.media.url(:thumb) %></a>
                <% elsif attachment.media_content_type =="image/vnd.adobe.photoshop" %>
                <p>
                  <%= image_tag attachment.media.url(:thumb) %><br>
                <a href="<%= attachment.media.url(:original) %>"><i class="fa fa-download"></i> <%= attachment.name %></a> <%= number_to_human_size attachment.media_file_size %> </p>
  <% else %>
                <p>
             <a href="<%= attachment.media.url(:original) %>"><i class="fa fa-download"></i> <%= attachment.name %></a> <%= number_to_human_size attachment.media_file_size %></p>
  <% end %>
        <% end %>

    <% end %>
  </div>
</div>