<% provide(:title, @work.title) %>
<div class="row work-inner">
  <div class="col-md-12 work-header">
    <div class="work-header-inner">

      <% if @timeline_flash %>
          <div class="timeline-flash">
            <%= image_tag @timeline_user.avatar.url(:mini), class: "avatar" %> <%= @timeline_user.name %> <%= @timeline_flash %>
          </div>

      <% end %>

      <div class="pull-left user-avatar"><%= image_tag @work.user.avatar.url(:medium), :class => 'avatar' %></div>
      <div>
        <div class="title"><h2><a href="<%= work_path(@work) %>"> <%= @work.title %></a></h2></div>
        <div class="pub-info">
          <ul class="list-inline">
            <li><%= link_to @work.user.name, "/designers/#{@work.user.id}" %>
              <% if @work.work_type=="re" %>

                  转发自
                  <% if @parent_work %>
                  <%= link_to @parent_work.title, work_path(@work.parent_work_id) %>
                  <% else %>
                  [已删除]
                  <% end %>
                  <% else %>
                  发表
              <% end %>
            </li>
            <% if  @work.is_original %>
               <li><i class="fa fa-pencil-square" ></i> 原创作品</li>
            <% end %>

            <li><%= @work.updated_at.localtime.to_date %> 更新</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="col-md-12" id="work-image-800">

    </div>
  </div>
  <div class="col-md-8 work-box">

    <div  id="work-image">
    <%= render 'works/sd_image' %>
    </div>
    <div class="work-desc">
      <%= markdown @work.desciption %>
    </div>
    <% if @work.work_type=="re" %>
        <hr>

        <%= render 'works/org_work_info', work: @parent_work %>


    <% end %>

    <div class="comments">

      <!--//COMENTLIST-->
      <% if @work.comments.any? %>

          <div class="comments_header">
            <h4><%= @work.comments.count %>个回应</h4>
          </div>
          <div id="commentsList">
            <% @comments = @work.comments %>
            <%= render "comments/list" %>
          </div>
      <% else %>
          <div class="comments_header">
            <div id="commentsList">
            </div>
          </div>
      <% end %>
      <% if current_user && !@work.user.blocked?(current_user) %>
          <div class="comment-form">
            <%= form_for(Comment.new, remote: true, method: :post) do |f| %>
                <div class="form-group">
                  <label><%= current_user.name %>, 你可以添加一条评论</label><em>（最长不超过1000个字符）</em>
                  <%= f.text_area :content, :class => "form-control", rows: 4 %>
                  <%= f.hidden_field :work_id, value: @work.id %>

                </div>
                <%= f.submit "添加评论", class: "btn btn-default" %>
            <% end %>
          </div>
      <% end %>

    </div>

    <!--END TAG LIST-->
    <% if current_user_or_admin?(@work.user_id) %>
        <div>
          <h5><i class="fa fa-gear"></i> 作者控制台</h5>
          <ul class="list-inline">
            <li><a href="<%= edit_work_path(@work) %>"><i class="fa fa-edit "></i> 编辑</a></li>
            <li><a href="<%= edit_tags_work_path(@work) %>"><i class="fa fa-tags "></i> 编辑标签</a></li>

            <li>
              <a href="<%= work_path(@work) %>" data-method="delete" data-confirm="你确定要删除这个作品？"><i class="fa fa-remove  "></i>
                删除</a></li>
            </li>
          </ul>
        </div>
    <% end %>

  </div>
  <div class="col-md-4 work-sider">
    <%=  render 'works/sidebar' %>
    </div>
</div>
