<div class="act-box">
  <div class="act-item" id="like_form">
    <%= render "works/like_form" %> </div>

  <!--THANKS-->
  <div class="act-item" id="thanks_item">

    <%= render "works/thank_form" %>

  </div>

  <div class="act-item"><i class="fa fa-dot-circle-o  fa-2x-s"></i> <%= @work.views_count %> 次查看</div>

  <!--favorate-->
  <div class="act-item">
    <% if current_user %>
        <a id="favorite-act" href="<%= favorite_folders_path(work_id: @work.id) %>" data-remote="true"><i class="fa fa-star fa-2x-s"></i>
          收藏</a>
    <% end %>
    <span <%= "class=pull-right" if current_user %>><a href="<%= favorites_work_path(@work) %>">
      <% unless current_user %>
          <i class="fa fa-star fa-2x-s"></i>
          <% end %><%= @work.favorites_count %> 个收藏</a> </span>
  </div>

  <!--//favorite dialog-->
  <!-- Modal -->
  <div class="modal fade" id="favoriteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加到收藏夹</h4>
        </div>
        <div class="modal-body" id="favoriteListBox">

        </div>
        <div class="modal-footer">
          <a href="<%= new_favorite_folder_path(work_id: @work.id) %>" class="pull-left" data-remote="true"> +
            <span class="small">创建一个新收藏夹</span> </a>
          <button type="button" class="btn btn-warning" data-dismiss="modal" href="#favoriteModel">关闭</button>

        </div>
      </div>
    </div>
  </div>
  <!--//end favorite -->
  <div class="act-item">

    <% if current_user %>
        <a href="<%= new_repost_work_path @work %>" data-remote="true"><i class="fa fa-refresh fa-2x-s"></i> 转发</a>

    <% end %>


    <span <%= "class=pull-right" if current_user %>>
          <% unless current_user %>
              <i class="fa fa-refresh fa-2x-s"></i>
              <% end %>

      <a href="<%= reworks_work_path %>"> <%= @work.repost_count %> 次转发</a></span>
  </div>
</div>

<!--//favorite dialog-->
<% if current_user %>
    <!-- Modal -->
    <div class="modal fade" id="repostModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">转发</h3>
          </div>
          <div class="modal-body">
            <div id="repostFormBody">
              <%= render "works/new_repost_form", work: current_user.works.new, work_id: @work.id %>
            </div>

            <%= render "works/org_work_info", work: @work %>
          </div>
          <div class="modal-footer">
            <button form="repost_work_<%= @work.id %>" type="submit" class="btn btn-primary" id="repostSubimt">转发</button>
          </div>
        </div>
      </div>
    </div>
    <!--//end favorite -->
<% end %>

<!--TAG LIST-->
<div class="work-tags">
  <h5>标签</h5>
  <% if @work.works_tags.any? %>
      <% @work.works_tags.each do |users_tag| %>

          <label class="tag">
            <a href="/designers/<%= @work.user_id %>/tags/<%= users_tag.tag.id %>"> <%= users_tag.tag.name %></a></label>
      <% end %>
  <% else %>
      <em>没有任何标签.</em>
  <% end %>
</div>
<div class="work-taobao-ads">
  <h4>本站推荐：</h4>
  <ul class="list-unstyled">
    <li>推荐阅读：<a target="_blank" href="http://www.amazon.cn/gp/search/ref=as_li_ss_tl?ie=UTF8&bbn=1334767071&camp=536&creative=3132&fst=as%3Aoff&linkCode=ur2&qid=1456450993&rh=n%3A658390051%2Cn%3A!2146619051%2Cn%3A!2146621051%2Cn%3A1334767071%2Cp_6%3AA1AJ19PSB66TGU%2Cn%3A658395051%2Cn%3A658529051&rnid=658395051&tag=400pxcn-23">亚马逊设计类书籍排行榜</a><img src="https://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=ur2&o=28" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
    <li>配色必读书籍： <a  href="http://www.amazon.cn/gp/product/B0030IMDUY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0030IMDUY&linkCode=as2&tag=400pxcn-23">配色设计原理</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0030IMDUY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>

    <li>版式设计必读书籍： <a  href="http://www.amazon.cn/gp/product/B00FS3JADM/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00FS3JADM&linkCode=as2&tag=400pxcn-23">新·版式设计原理:13位资深设计师亲授160条经验法则</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00FS3JADM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>

    <li>设计构成：<a  href="http://www.amazon.cn/gp/product/B00CHI3XE8/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00CHI3XE8&linkCode=as2&tag=400pxcn-23">设计几何学:关于比例与构成的研究</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00CHI3XE8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
      <a  href="http://www.amazon.cn/gp/product/B00F4SDOUG/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00F4SDOUG&linkCode=as2&tag=400pxcn-23">解密平面设计的终极法则(版式设计原理+配色设计原理)(套装共2册)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00F4SDOUG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
      <iframe src="http://rcm-cn.amazon-adsystem.com/e/cm?t=400pxcn-23&o=28&p=12&l=bn1&mode=books-cn&browse=658395051&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="300" height="250" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>


    </li>
  </ul>




</div>
<div class="more-works">
  <h5><a href="/designers/<%= @work.user_id %>">更多<%= @work.user.name %>的作品</a></h5>
  <% @more_works.each do |mw| %>
      <div class="image-frame">
        <a href="<%= work_path(mw.id) %>">
          <%= image_tag mw.image.url(:small), :width => 100, :height => 75 %>
        </a>
      </div>
  <% end %>
</div>
