<div class="act-box">
  <div class="act-item" id="like_form">
    <%= render "works/like_form" %> </div>

  <!--THANKS-->
  <div class="act-item" id="thanks_item">

    <%= render "works/thank_form" %>

  </div>

  <div class="act-item"><i class="fa fa-dot-circle-o  fa-2x-s"></i> <%= @work.views_count %> 次查看</div>

  <!--favorate-->
  <div class="act-item">
    <% if current_user %>
        <a id="favorite-act" href="<%= favorite_folders_path(work_id: @work.id) %>" data-remote="true"><i class="fa fa-star fa-2x-s"></i>
          收藏</a>
    <% end %>
    <span <%= "class=pull-right" if current_user %>><a href="<%= favorites_work_path(@work) %>">
      <% unless current_user %>
          <i class="fa fa-star fa-2x-s"></i>
          <% end %><%= @work.favorites_count %> 个收藏</a> </span>
  </div>


  <div class="act-item">

    <% if current_user %>
        <a href="<%= new_repost_work_path @work %>" data-remote="true"><i class="fa fa-retweet fa-2x-s"></i> 转发</a>

    <% end %>


    <span <%= "class=pull-right" if current_user %>>
          <% unless current_user %>
              <i class="fa fa-refresh fa-2x-s"></i>
              <% end %>

      <a href="<%= reworks_work_path %>"> <%= @work.repost_count %> 次转发</a></span>
  </div>
</div>

<!--TAG LIST-->
<div class="work-tags">
  <h4>标签</h4>
  <% if @work.works_tags.any? %>
      <% @work.works_tags.each do |users_tag| %>

          <label class="tag">
            <a href="/designers/<%= @work.user_id %>/tags/<%= users_tag.tag.id %>"> <%= users_tag.tag.name %></a></label>
      <% end %>
  <% else %>
      <em>没有任何标签.</em>
  <% end %>
</div>
<div class="work-taobao-ads">
  <h4>本站推荐：</h4>
  <ul class="list-unstyled">
    <li>推荐阅读：<a target="_blank" href="http://www.amazon.cn/gp/search/ref=as_li_ss_tl?ie=UTF8&bbn=1334767071&camp=536&creative=3132&fst=as%3Aoff&linkCode=ur2&qid=1456450993&rh=n%3A658390051%2Cn%3A!2146619051%2Cn%3A!2146621051%2Cn%3A1334767071%2Cp_6%3AA1AJ19PSB66TGU%2Cn%3A658395051%2Cn%3A658529051&rnid=658395051&tag=400pxcn-23">亚马逊设计类书籍排行榜</a><img src="https://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=ur2&o=28" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>

    <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 250*250（臧） -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:250px;height:250px"
           data-ad-client="ca-pub-5131280736145569"
           data-ad-slot="7884283332"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </li>
  </ul>




</div>
<div class="more-works">
  <h4><a href="/designers/<%= @work.user_id %>">更多<%= @work.user.name %>的作品</a></h4>
  <% @more_works.each do |mw| %>
      <div class="image-frame">
        <a href="<%= work_path(mw.id) %>">
          <%= image_tag mw.image.url(:small), :width => 100, :height => 75 %>
        </a>
      </div>
  <% end %>
</div>
