

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="work-header">

        <% if @timeline_flash %>
          <div class="timeline-flash">
        <%= @timeline_user.name %> <%= @timeline_flash %>
          </div>
        <% end %>

      <div class="pull-left user-avatar"><%= image_tag @work.user.avatar.url(:medium), :class => 'avatar' %></div>
      <div>
        <div class="title"><h4><%= @work.title %></h4></div>
        <div class="pub-info">
          <ul class="list-inline">
            <li><%= link_to @work.user.name, "#" %>
            <% if @work.work_type=="re" %>
              转发自 <%= link_to @parent_work.title, work_path(@work.parent_work_id) %>
                  <% else %>
              发表
              <% end %>
            </li>
            <li><%= @work.updated_at.localtime.to_date %> 更新</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-md-5 col-md-offset-2 work-box">


    <div class="work-image">
      <%= image_tag @work.image.url(:sd) %>
    </div>


      <%= @work.desciption %>
    </p>
    <% if @work.work_type=="re" %>
        <hr>
        <h4>原作信息</h4>
        <ul>
          <li><%= image_tag @parent_work.user.avatar.url(:mini), class: "avatar"  %></li>
          <li><%= @parent_work.user.name  %></li>
          <li><%= @parent_work.title  %></li>
          <li><%= @parent_work.desciption  %></li>
        </ul>
    <% end %>
    <p class="desc">
    <div class="comments">

      <!--//COMENTLIST-->
      <% if @work.comments.any? %>

          <div class="comments_header">
            <h4><%= @work.comments.count %>个回应</h4>
          </div>
          <div id="commentsList">
            <% @comments = @work.comments %>
            <%= render "comments/list" %>
          </div>
      <% else %>
          <div class="comments_header">

          </div>
      <% end %>

      <%= form_for(Comment.new, remote: true, method: :post) do |f| %>
          <div class="form-group">
            <label><%= current_user.name %>, 你可以添加一条评论</label><em>（最长不超过1000个字符）</em>
            <%= f.text_area :content, :class => "form-control", rows: 4 %>
            <%= f.hidden_field :work_id, value: @work.id %>

          </div>
          <%= f.submit "添加评论", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 work-sider">
    <div class="act-box">
      <div class="act-item" id="like_form">
        <%= render "works/like_form" %> </div>
      <div class="act-item"><i class="fa fa-heart fa-2x-s"></i>
        <%= render "works/thank_form" %>
        <span class="pull-right"><span id="thanks-count"><%= @work.thanks_count %></span> 人已感谢</span></div>
      <div class="act-item"><i class="fa fa-dot-circle-o  fa-2x-s"></i><%= @work.views_count %> 次查看</div>
      <div class="act-item"><i class="fa fa-star fa-2x-s"></i>
        <a id="favorite-act" href="<%= favorite_folders_path(work_id: @work.id) %>" data-remote="true">收藏</a>  <%= @work.favorites_count %>
      </div>

      <!--//favorite dialog-->
      <!-- Modal -->
      <div class="modal fade" id="favoriteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">添加到收藏夹</h4>
            </div>
            <div class="modal-body" id="favoriteListBox">

            </div>
            <div class="modal-footer">
              <a href="<%= new_favorite_folder_path(work_id: @work.id) %>" class="pull-left" data-remote="true"> +
                创建一个新收藏夹</a>
              <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>

            </div>
          </div>
        </div>
      </div>
      <!--//end favorite -->
      <div class="act-item">


        <i class="fa fa-refresh fa-2x-s"></i><a id="repost-act" href="#">转发</a>
        <span class="pull-right"><%= @work.repost_count  %> 次转发</span>
      </div>
    </div>

    <!--//favorite dialog-->
    <!-- Modal -->
    <div class="modal fade" id="repostModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">转发</h4>
          </div>
          <div class="modal-body" >
            <div  id="repostFormBody">
            <%= render "works/new_repost_form" , work: current_user.works.new, work_id: @work.id %>
            </div>
            <div class="ref-info" >
              <h4>原作品信息</h4>
              <ul>
                <li> <%= image_tag @work.image.url(:small) %></li>
                <li> <%= image_tag @work.user.avatar.url(:mini) %></li>
                <li> <%= @work.user.name %></li>
                <li> <%= @work.updated_at %></li>
                <li> <%= @work.title %></li>
                <li> <%= @work.desciption %></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button form="repost_work_<%=@work.id%>" type="submit" class="btn btn-primary" id="repostSubimt">转发</button>
          </div>
        </div>
      </div>
    </div>
    <!--//end favorite -->

    <!--TAG LIST-->
    <div>
      <%= render 'tags/works_tags', tags: @work.works_tags %>

    </div>
    <!--END TAG LIST-->
    <div>
      <%= link_to 'Edit', edit_work_path(@work), :class => "btn  btn-link" %>
    </div>
  </div>
</div>
