<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="work-header">
    <div class="pull-left user-avatar"><%= image_tag @work.user.avatar.url(:medium), :class => 'avatar' %></div>
    <div>
      <div class="title"><h4><%= @work.title %></h4></div>
      <div class="pub-info">
        <ul class="list-inline">
          <li><%= link_to @work.user.name, "#" %> 发表</li>
          <li><%= @work.updated_at.localtime.to_date %> 更新</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-2 work-box">



    <div class="work-image">
      <%= image_tag @work.image.url(:sd) %>
    </div>

    <p class="desc">

      <%= @work.desciption %>
    </p>

  </div>
  <div class="col-md-3 work-sider">
    <div class="act-box">
      <div class="act-item" id="like_form">
        <%= render "works/like_form" %> </div>
      <div class="act-item"><i class="fa fa-heart fa-2x-s"></i><%= @work.works_likes_count %> 个感谢</div>
      <div class="act-item"><i class="fa fa-dot-circle-o  fa-2x-s"></i><%= @work.views_count %> 次查看（仅限会员）</div>
      <div class="act-item"><i class="fa fa-star fa-2x-s"></i><%= @work.favorites_count %> 人收藏</div>
      <div class="act-item"><i class="fa fa-refresh fa-2x-s"></i><%= @work.works_likes_count %> 次转发</div>
    </div>
    <div>
      <%= link_to 'Edit', edit_work_path(@work), :class => "btn  btn-link" %>
    </div>
  </div>
</div>
