<% provide(:title, "所有通知") %>

<div class="container-fix">


  <div class="row page-main">
    <h1 class="title"><i class="fa fa-bell"></i> 所有通知</h1>
    <div class="col-md-8 login-box">

      <% if @notifications.any? %>
          <ul class="notificcations list-unstyled">
            <% @notifications.each do |notify| %>

                <li <%= notify.is_checked ? "" : "class='unchecked' ".html_safe %>>

                  <%= notify.icon %> <span class="pubtime"><%= time_ago_in_words notify.created_at.localtime %>之前</span> <%= notify.subject_id_to_s %>  <%= notify.type_to_s %> <%= notify.obj_id_to_s %>

            <% end %>

          </ul>
      <% else %>
      <p>还没有任何通知。</p>
      <% end %>

      <div class="row row-centered">
        <%= will_paginate @notifications, :page_links => false, next_label: "<i class='fa fa-angle-right fa-2x'></i>", previous_label: "<i class='fa fa-angle-left fa-2x'></i>" %>
      </div>

    </div>




  </div>
</div>