<% if @notifications.any? %>
    <ul class="notificcations list-unstyled">
      <% @notifications.each do |notify| %>

          <li <%= notify.is_checked ? "" : "class='unchecked' ".html_safe %>> <span class="pubtime"><%= time_ago_in_words notify.created_at.localtime %>之前</span> <%= notify.subject_id_to_s %>  <%= notify.type_to_s %> <%= notify.obj_id_to_s %>


      <% end %>

    </ul>
<% else %>
    <p>还没有任何通知。</p>
<% end %>
</div>