<div class="container-fluid user-header-wrap">

  <div class="user-header ">
    <ul class="list-inline pull-left">
      <li><%= render 'shared/stats' , user: user %></li>
      <li><i class="fa fa-pencil"></i> <%= user.works.count %> 个作品</li>
      <% if @total_likes %>
      <li><i class="fa fa-thumbs-up"></i> <%= @total_likes %> 个赞</li>
      <% end %>
      <% if @total_thanks %>
          <li><i class="fa fa-heart"></i> <%= @total_thanks %> 个感谢</li>
      <% end %>

    </ul>
    <% if user_signed_in?  && (current_user.id  != user.id) %>
    <ul class="list-inline pull-right">

          <li><%= render 'designers/follow_form', user: user %></li>

          <li><a class="btn btn-success" href="<%= new_message_path(to_user_id: user.id) %>"><i class="fa fa-envelope"></i> 私信</a></li>

          <li> <%= render 'designers/blacklist_form', user: user %></li>


    </ul>
    <% end %>
  </div>


</div>

