<h1>Designers#all</h1>
<%= will_paginate %>
<table class="table">

  <% @designers.each do |user| %>
      <tr>
        <td>
          <%= link_to user.email, "/designers/show/#{user.id}" %>
          <%= image_tag user.avatar.url(:normal), :class => "avatar" %>
        </td>
        <td>
          <ul>
            <li><h4><%= user.name %></h4></li>
            <li><%= user.location %></li>
            <li><%= user.fans_count %>位粉丝</li>
          </ul>
        </td>
      </tr>
  <% end %>

</table>
<%= will_paginate %>
