<div class="row">
<h1>Designers#all</h1>
<div class="col-md-10">
<table class="table">

  <% @designers.each do |user| %>
      <tr>
        <td width="50px">

          <%= image_tag user.avatar.url(:normal), :class => "avatar" %>
        </td>
        <td>
          <ul>
            <li><h4><%= link_to user.name,  "/designers/show/#{user.id}" %></h4></li>

            <li><%= user.location %></li>
            <li><%= user.fans_count %>位粉丝</li>
<li> <%= render 'designers/follow_form', user: user%></li>
          </ul>
        </td>

        <td>
          <% user.recent_works.each do |new_work| %>
          <%= image_tag new_work.image.url(:small) %>

          <% end %>
        </td>
      </tr>
  <% end %>

</table>
<%= will_paginate %>
</div>
</div>