<div class="row">
  <h1>设计师/艺术家</h1>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <small>查看更多领域</small> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% Domain.other_domains.each do |d| %>
              <li role="presentation"><a href="<%= designers_all_path(domain_id: d.id) %>"><%= d.name %></a></li>
          <% end %>
        </ul>
      </li>

      <li role="presentation" class="active"><a href="<%= designers_all_path %>">所有领域</a></li>
      <% Domain.hot_domains.each do |d| %>
          <li role="presentation"><a href="<%= designers_all_path(domain_id: d.id) %>"><%= d.name %></a></li>
      <% end %>



    </ul>



  </div>

  <div class="col-md-10">
    <table class="table">

      <% @designers.each do |user| %>
          <tr>
            <td width="50px">

              <%= image_tag user.avatar.url(:normal), :class => "avatar" %>
            </td>
            <td>
              <ul>
                <li><h4><%= link_to user.name, "/designers/show/#{user.id}" %></h4></li>

                <li><%= user.location %></li>
                <li><%= user.fans_count %>位粉丝</li>
                <li> <%= render 'designers/follow_form', user: user %></li>
              </ul>
            </td>

            <td>
              <% user.recent_works.each do |new_work| %>
                  <%= image_tag new_work.image.url(:small) %>

              <% end %>
            </td>
          </tr>
      <% end %>

    </table>
    <%= will_paginate %>
  </div>



</div>