<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <div class="user-header">
      <%= render 'shared/stats' %><%= render 'follow_form', user: @user if user_signed_in? %>
    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-4 user_info">
<ul>
  <li><%= image_tag @user.avatar.url(:normal), class: "avatar" %></li>
  <li> <%= @user.name %></li>
  <li><%= @user.location %> </li>
</ul>
  </div>

</div>


<div class="row">
  <%= render 'shared/feed' %>

</div>

