<% provide(:title, @user.name) %>
<%= render "designers/user_topbar", user: @user %>



<div class="container-fix">

  <div class="col-md-10 col-md-offset-1 designer-info">
    <ul class="list-unstyled">
      <li><%= image_tag @user.avatar.url(:normal), class: "avatar", width: 80, height: 80 %></li>
      <li><h1><%= @user.name %></h1></li>
      <li><h2><%= @user.title %></h2></li>
      <% if @user.bio  != ""%>
          <li><%= simple_format @user.bio %> </li>
      <% end %>

      <li><i class="fa fa-map-marker"></i> <%= @user.location %> </li>
      <% if @user.company  != ""%>
          <li><%= @user.company %> </li>
      <% end %>
      <% if @user.website  != "" %>
          <li>网站: <%= @user.website %> </li>
      <% end %>

      <li>
        <% @user.users_tags.each do |ut| %>
            <label class="tag"><%= ut.tag.name %></label>
        <% end %>
      </li>

    </ul>
  </div>

</div>

<hr>
<div class="container-xl">
  <div class="row">
    <%= render @works %>
  </div>

  <div class="row row-centered">
    <%= will_paginate @works, :page_links => false, next_label: "<i class='fa fa-angle-right fa-2x'></i>", previous_label: "<i class='fa fa-angle-left fa-2x'></i>" %>
  </div>

</div>


