
  <div class="work-item">
    <div class="user-info">
      <%= image_tag timeline.user.avatar.url(:mini), :class => 'avatar-mini' %>
      <span> <%= link_to timeline.user.name, "/designers/#{timeline.user.id}" %></span>
      <% if timeline.act == "like" %>
          <i class="fa fa-heart"></i>
      <% elsif timeline.act == "re" %>
          <i class="fa fa-refresh"></i>
      <% else %>
          发表了新作品
      <% end %>
    </div>
    <div id="timeline_<%= timeline.work_id %>" class="work-item-frame">

      <a class="work-item-image" href="<%= work_path(timeline.work_id, flash: timeline.act, timeline_user_id: timeline.user_id) %>">
        <%= image_tag timeline.work.image.url(:small) %>
      </a>
      <ul class="list-inline">
        <li><i class="fa fa-thumbs-up"></i> <%= timeline.work.works_likes_count %></li>
        <li><i class="fa fa-commenting"></i> <%= timeline.work.comments_count %></li>

        <li><i class="fa fa-dot-circle-o"></i> <%= timeline.work.views_count %></li>
      </ul>
      <div class="work-item-frame-info">
        <a href="<%= work_path(timeline.work_id, flash: timeline.act, timeline_user_id: timeline.user_id) %>" class="fill-div">

          <h5 class="title"><%= timeline.work.title %></h5>
          <span class="description"><%= truncate(timeline.work.desciption, length:100) %></span><br>
<span class="timestamp">
<%= time_ago_in_words(timeline.work.created_at) %>前
</span>
        </a>
      </div>

    </div>

  </div>
