<div class="work-item">

  <div id="timeline_<%= timeline.work_id %>" class="work-item-frame">

    <a class="work-item-image feed_link" href="<%= work_path(timeline.work_id, flash: timeline.act, timeline_user_id: timeline.user_id) %>">
      <%= image_tag timeline.work.image.url(:small) %>
    </a>
    <% if timeline.work.is_original %>
        <a class='my-tool-tip is_original pull-left' data-toggle="tooltip" data-placement="top" title="原创作品"> <i class="fa fa-pencil-square" ></i> </a>
    <% end %>

        <ul class="list-inline work-info">
      <li><i class="fa fa-thumbs-up"></i> <span class="info"><%= timeline.work.works_likes_count %></span></li>
      <li><i class="fa fa-commenting"></i> <span class="info"><%= timeline.work.comments_count %></span></li>

      <li><i class="fa fa-dot-circle-o"></i> <span class="info"><%= timeline.work.views_count %></span></li>
    </ul>
    <div class="work-item-frame-info">
      <a href="<%= work_path(timeline.work_id, flash: timeline.act, timeline_user_id: timeline.user_id) %>" class="fill-div feed_link" data-remote="true">

        <h5 class="work-title"><%= truncate timeline.work.title, length: 50 %></h5>
        <p class="description"><%= truncate(timeline.work.desciption, length: 80) %></p>
<span class="timestamp">
<%= time_ago_in_words(timeline.work.created_at) %>前
</span>
      </a>
    </div>

  </div>

  <div class="user-info">
    <%= image_tag timeline.user.avatar.url(:mini), :class => 'avatar-mini' %>
    <span> <%= link_to timeline.user.name, "/designers/#{timeline.user.id}" %></span>
    <% if timeline.act == "like" %>
        <i class="fa fa-heart"></i>
    <% elsif timeline.act == "re" %>
        <i class="fa fa-retweet"></i>
    <% else %>

    <% end %>
  </div>
</div>
