<!DOCTYPE html>
<html>
<head>
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title><%= yield(:title) %> - 400px.cn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta name="baidu_union_verify" content="5c6b263615aa42a951fe2c60c3cbe907">
</head>
<body data-no-turbolink="true">

<nav class="site-nav navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= static_pages_home_path %>"><img src="<%= asset_path "logo.png" %>"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a id="new-work-link" class="btn btn-primary " href="<%= new_work_path %>"><i class="fa fa-pencil"></i> 添加你的新作

          </a></li>

        <%= nav_link "主页", static_pages_home_path %>
        <%= nav_link "设计师", designers_all_path %>
        <%= nav_link "发现", explore_path %>
        <% if user_signed_in? %>
            <li class="<%= current_page?(notifications_path) ? 'active' : '' %>">
              <a href="#" rel="nav-notice"><%= "通知 #{uncheck_notify_count}".html_safe %></a></li>
        <% end %>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>


            <li class="dropdown">
              <a href="#" id="nav-user-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:mini), :class => 'avatar' %></i><%= pm = pm_count %> <%= current_user.name %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= "/designers/#{current_user.id}" %>"><i class="fa fa-home "></i> 我的主页</a>
                </li>
                <li>
                  <a href="<%= favorite_folders_path %>"><i class="fa fa-star "></i> 收藏夹 </a>
                </li>
                <li>
                  <a href="<%= messages_path %>"><i class="fa fa-envelope"></i> 私信 <%= pm %></a>
                </li>

                <li role="separator" class="divider"></li>
                <li>
                  <a href="<%= edit_user_registration_path %>"><i class="fa fa-cog"></i> 会员设置 </a>
                </li>
                <li>
                  <a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i> 退出</a>
                </li>


              </ul>
            </li>


        <% else %>
            <li><%= link_to "注册", new_user_registration_path %> </li>
            <li><%= link_to "<i class='fa fa-user'></i> 登录".html_safe, new_user_session_path %></li>
        <% end %>

        <form class="navbar-form navbar-left" role="search" action="https://www.baidu.com/s" id="site-search">


          <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="搜索作品" name="wd">
          </div>

        </form>


      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<% if flash.any? %>
    <% content = "
               <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>".html_safe %>

    <% flash.each do |name, msg| -%>

        <%= content_tag :div, content + msg, class: "alert site-notice #{name} alert-dismissible", role: "alert", data: {no_turbolink: true} %>
    <% end -%>

<% end %>

<%= yield %>


<div class="row home-center-ads">
  <a href="#" id="amazon-book-link"><b>本站推荐：</b>40本每个中国设计师必读的经典书籍 <span class="caret"></span></a>
<div class="hide" id="amazon-book-list">
  <div class="col-md-3" id="amazon-book-list">

    <ol class="list-unstyled">
      <li>1.
        <a href="http://www.amazon.cn/gp/product/B00CHI3XE8/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00CHI3XE8&linkCode=as2&tag=400pxcn-23">设计几何学:关于比例与构成的研究</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00CHI3XE8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>2.
        <a href="http://www.amazon.cn/gp/product/B00Y9H69XM/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00Y9H69XM&linkCode=as2&tag=400pxcn-23">平面设计师必修9堂课</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00Y9H69XM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>3.
        <a href="http://www.amazon.cn/gp/product/B00ARK39MY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00ARK39MY&linkCode=as2&tag=400pxcn-23">字体故事:西文字体的美丽传奇</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00ARK39MY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>4.
        <a href="http://www.amazon.cn/gp/product/B00N7YKVSM/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00N7YKVSM&linkCode=as2&tag=400pxcn-23">品牌识别设计:给整个品牌化团队的重要指南(第4版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00N7YKVSM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>5.
        <a href="http://www.amazon.cn/gp/product/B00L85S87I/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00L85S87I&linkCode=as2&tag=400pxcn-23">塑造和突破网格:平面设计布局研究</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00L85S87I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>6.
        <a href="http://www.amazon.cn/gp/product/B00SSIT1UG/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00SSIT1UG&linkCode=as2&tag=400pxcn-23">建筑师与设计师视觉笔记(原著第2版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00SSIT1UG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>7.
        <a href="http://www.amazon.cn/gp/product/B00B6XXWTQ/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00B6XXWTQ&linkCode=as2&tag=400pxcn-23">现代设计史(第2版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00B6XXWTQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>8.
        <a href="http://www.amazon.cn/gp/product/B0053NEQX6/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0053NEQX6&linkCode=as2&tag=400pxcn-23">IDEO,设计改变一切:设计思维如何变革组织和激发创新(苹果第一支鼠标的设计公司，创新工场李开复鼎力推荐)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0053NEQX6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>9.
        <a href="http://www.amazon.cn/gp/product/B00EAB0DZW/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00EAB0DZW&linkCode=as2&tag=400pxcn-23">色彩圣经:20世纪色彩潮流</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00EAB0DZW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>10.
        <a href="http://www.amazon.cn/gp/product/B00KQBLI5E/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00KQBLI5E&linkCode=as2&tag=400pxcn-23">写给大家看的设计书(第3版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00KQBLI5E" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>

    </ol>
  </div>
  <div class="col-md-3">
    <ol class="list-unstyled">
      <li>11.
        <a href="http://www.amazon.cn/gp/product/B00H3VQHEW/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00H3VQHEW&linkCode=as2&tag=400pxcn-23">苹果首席设计师:乔纳森传</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00H3VQHEW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>12.
        <a href="http://www.amazon.cn/gp/product/9863200611/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=9863200611&linkCode=as2&tag=400pxcn-23">快思慢想</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=9863200611" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>13.
        <a href="http://www.amazon.cn/gp/product/B00UA4FGQY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00UA4FGQY&linkCode=as2&tag=400pxcn-23">创新公司：皮克斯的启示</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00UA4FGQY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>14.
        <a href="http://www.amazon.cn/gp/product/B00ES8JL8W/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00ES8JL8W&linkCode=as2&tag=400pxcn-23">通用设计法则</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00ES8JL8W" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>15.
        <a href="http://www.amazon.cn/gp/product/B00COG458G/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00COG458G&linkCode=as2&tag=400pxcn-23">图灵交互设计丛书:设计师要懂心理学(全彩印刷)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00COG458G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>16.
        <a href="http://www.amazon.cn/gp/product/B0056JZYHY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0056JZYHY&linkCode=as2&tag=400pxcn-23">设计反思:可持续设计策略与实践</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0056JZYHY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>17.
        <a href="http://www.amazon.cn/gp/product/B005EJIXBK/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B005EJIXBK&linkCode=as2&tag=400pxcn-23">设计心理学2:如何管理复杂</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B005EJIXBK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>18.
        <a href="http://www.amazon.cn/gp/product/B00XVP096Q/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00XVP096Q&linkCode=as2&tag=400pxcn-23">设计心理学1 (增订版): 日常的设计</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00XVP096Q" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>19.
        <a href="http://www.amazon.cn/gp/product/B00X65PE16/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00X65PE16&linkCode=as2&tag=400pxcn-23">超越LOGO设计:国际顶级平面设计师的成功法则(第2版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00X65PE16" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>20.
        <a href="http://www.amazon.cn/gp/product/B005QJMM4W/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B005QJMM4W&linkCode=as2&tag=400pxcn-23">顾客为什么购买(升级版):新时代的零售业圣经</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B005QJMM4W" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
    </ol>
  </div>
  <div class="col-md-3">

    <ol class="list-unstyled">
      <li>21.
        <a href="http://www.amazon.cn/gp/product/B01441LZ22/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B01441LZ22&linkCode=as2&tag=400pxcn-23">重新定义公司:谷歌是如何运营的</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B01441LZ22" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>22.
        <a href="http://www.amazon.cn/gp/product/B00R29KP34/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00R29KP34&linkCode=as2&tag=400pxcn-23">设计工作室生存手册</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00R29KP34" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>23.
        <a  href="http://www.amazon.cn/gp/product/B0041Q3GCS/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0041Q3GCS&linkCode=as2&tag=400pxcn-23">五天学会绘画(第22版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0041Q3GCS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      <li>24.
        <a href="http://www.amazon.cn/gp/product/B0154KZGF4/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0154KZGF4&linkCode=as2&tag=400pxcn-23">管理你的每一天</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0154KZGF4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>25.
        <a href="http://www.amazon.cn/gp/product/B00JA4U0JS/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00JA4U0JS&linkCode=as2&tag=400pxcn-23">重来2:更为简单高效的远程工作方式</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00JA4U0JS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>26.
        <a href="http://www.amazon.cn/gp/product/B00U6AAFRC/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00U6AAFRC&linkCode=as2&tag=400pxcn-23">怦然心动:情感化交互设计指南(修订版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00U6AAFRC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>27.
        <a href="http://www.amazon.cn/gp/product/B00QGA04RM/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00QGA04RM&linkCode=as2&tag=400pxcn-23">点石成金:访客至上的Web和移动可用性设计秘笈(原书第3版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00QGA04RM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>28.
        <a href="http://www.amazon.cn/gp/product/B016IW62N2/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B016IW62N2&linkCode=as2&tag=400pxcn-23">About
          Face
          4:交互设计精髓</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B016IW62N2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>29.
        <a href="http://www.amazon.cn/gp/product/B00L1GWAQY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00L1GWAQY&linkCode=as2&tag=400pxcn-23">互联网产品设计</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00L1GWAQY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>30.
        <a href="http://www.amazon.cn/gp/product/B004I91HCY/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B004I91HCY&linkCode=as2&tag=400pxcn-23">简约至上:交互式设计四策略</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B004I91HCY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
    </ol>
  </div>
  <div class="col-md-3">

    <ol class="list-unstyled">
      <li>31.
        <a href="http://www.amazon.cn/gp/product/B00M77OKXM/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00M77OKXM&linkCode=as2&tag=400pxcn-23">网站情感化设计与内容策略</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00M77OKXM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>32.
        <a href="http://www.amazon.cn/gp/product/B00MFHRAK4/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00MFHRAK4&linkCode=as2&tag=400pxcn-23">认知与设计:理解UI设计准则(第2版)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00MFHRAK4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>33.
        <a href="http://www.amazon.cn/gp/product/B00116NP3G/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00116NP3G&linkCode=as2&tag=400pxcn-23">原动画基础教程:动画人的生存手册</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00116NP3G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>34.
        <a href="http://www.amazon.cn/gp/product/B0046ZS8XG/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0046ZS8XG&linkCode=as2&tag=400pxcn-23">设计中的设计(全本)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0046ZS8XG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>35.
        <a href="http://www.amazon.cn/gp/product/B0081X9SLA/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B0081X9SLA&linkCode=as2&tag=400pxcn-23">色彩构成</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B0081X9SLA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>

      <li>36.
        <a href="http://www.amazon.cn/gp/product/B00M3Z101S/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00M3Z101S&linkCode=as2&tag=400pxcn-23">艺术的疗效</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00M3Z101S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>37.
        <a href="http://www.amazon.cn/gp/product/B00MO11O7G/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00MO11O7G&linkCode=as2&tag=400pxcn-23">伟大创意的诞生:创新自然史</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00MO11O7G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>38.
        <a href="http://www.amazon.cn/gp/product/B00VE1B3M8/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00VE1B3M8&linkCode=as2&tag=400pxcn-23">人人都在晒,凭什么你出彩?:玩转社交网络的10堂创意自修课</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00VE1B3M8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>39.
        <a href="http://www.amazon.cn/gp/product/B00EZFHSTW/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00EZFHSTW&linkCode=as2&tag=400pxcn-23">"偷"师学艺:10个你一定要知道的创意秘籍</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00EZFHSTW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      <li>40.
        <a href="http://www.amazon.cn/gp/product/B00F4SDOUG/ref=as_li_ss_tl?ie=UTF8&camp=536&creative=3132&creativeASIN=B00F4SDOUG&linkCode=as2&tag=400pxcn-23">解密平面设计的终极法则(版式设计原理+配色设计原理)(套装共2册)</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=400pxcn-23&l=as2&o=28&a=B00F4SDOUG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
    </ol>
  </div>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <ins class="adsbygoogle"
       style="display:inline-block;width:970px;height:90px"
       data-ad-client="ca-pub-5131280736145569"
       data-ad-slot="9361016532"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="<%= asset_path "logo-40pt-g.png" %>">
        <h4>中国设计师与艺术家的展示交流空间</h4>

        <p>一个全新的邀请制设计师社交网站。在这里你能展示才华与创意，结交新朋友</p>
      </div>

      <div class="col-md-6 links-etc">
        <ul class="list-inline">

          <li><%= mail_to "advise@mg.400px.net", "建议反馈" %></li>
          <li><%= mail_to "b@mg.400px.net", "商务合作" %></li>
          <li><%= mail_to "webadmin@mg.400px.net", "网站管理员" %></li>
          <li><%= link_to '开发者Blog', "http://www.kejike.com/davidtsang" %></li>
          <li><%= link_to '关于', static_pages_about_path %></li>
        </ul>
        <ul class="list-unstyled tiny-text">

          <li><span>* 建议安装方正兰亭黑或冬青黑体获得更好的浏览效果</span></li>
          <li><span>* 建议使用Goolge Chrome、Firefox或IE9.0以上版本浏览器浏览本网站</span></li>
          <li class="footer-icon">
            <i class="fa fa-weixin fa-2x"></i><i class="fa fa-weibo fa-2x"></i>
            <a href="#top"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
          </li>


        </ul>
      </div>

    </div>


  </div>
  <hr>
  <center>©2016 四百像素网 所有作品的版权归其作者所有. <a href="http://www.miitbeian.gov.cn">皖ICP备16001175号</a></center>

</footer>

<!-- Attachments Modal -->
<div class="modal modal-blue" id="attachmentsModal" tabindex="-1" role="dialog" aria-labelledby="attachmentsModalLabel">


  <div class="modal-dialog modal-attachments" role="document">
    <div class="modal-content" id="attachmentsContent">

    </div>
  </div>
</div>



<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?86ae2bfd64920e1d886f5e05d5a20d7c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73541083-1', 'auto');
    ga('send', 'pageview');

</script>

</body>


</html>
