<!DOCTYPE html>
<html>
<head>
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title><%= yield(:title) %> - 400px.cn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta name="baidu_union_verify" content="5c6b263615aa42a951fe2c60c3cbe907">
</head>
<body>

<nav class="site-nav navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= static_pages_home_path %>"><img src="<%= asset_path "logo.png" %>"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a id="new-work-link" class="btn btn-primary " href="<%= new_work_path %>"><i class="fa fa-pencil"></i> 添加你的新作

          </a></li>

        <%= nav_link "主页", static_pages_home_path %>
        <%= nav_link "设计师", designers_all_path %>
        <%= nav_link "发现", explore_path %>
        <% if user_signed_in? %>
            <li class="<%= current_page?(notifications_path) ? 'active' : '' %>">
              <a href="#" rel="nav-notice"><%= "通知 #{uncheck_notify_count}".html_safe %></a></li>
        <% end %>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>


            <li class="dropdown">
              <a href="#" id="nav-user-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:mini), :class => 'avatar' %></i><%= pm = pm_count %> <%= current_user.name %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= "/designers/#{current_user.id}" %>"><i class="fa fa-home "></i> 我的主页</a>
                </li>
                <li>
                  <a href="<%= favorite_folders_path %>"><i class="fa fa-star "></i> 收藏夹 </a>
                </li>
                <li>
                  <a href="<%= messages_path %>"><i class="fa fa-envelope"></i> 私信 <%= pm %></a>
                </li>

                <li role="separator" class="divider"></li>
                <li>
                  <a href="<%= edit_user_registration_path %>"><i class="fa fa-cog"></i> 会员设置 </a>
                </li>
                <li>
                  <a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i> 退出</a>
                </li>


              </ul>
            </li>


        <% else %>
            <li><%= link_to "注册", new_user_registration_path %> </li>
            <li><%= link_to "<i class='fa fa-user'></i> 登录".html_safe, new_user_session_path %></li>
        <% end %>

        <form class="navbar-form navbar-left" role="search" action="https://www.baidu.com/s" id="site-search">


          <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="搜索作品" name="wd">
          </div>

        </form>


      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<% if flash.any? %>
    <% content = "
               <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>".html_safe %>

    <% flash.each do |name, msg| -%>

        <%= content_tag :div, content + msg, class: "alert site-notice #{name} alert-dismissible", role: "alert", data: { no_turbolink: true }%>
    <% end -%>

<% end %>

<%= yield %>


<div class="row">
  <div class="home-center-ads">
  <a data-type="3" data-tmpl="800x90" data-tmplid="195" data-rd="2" data-style="2" data-border="1" href="#"></a></div>
</div>

<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="<%= asset_path "logo-40pt-g.png" %>">
        <h4>中国设计师与艺术家的展示交流空间</h4>

        <p>一个全新的邀请制设计师社交网站。在这里你能展示才华与创意，结交新朋友</p>
      </div>

      <div class="col-md-6 links-etc">
        <ul class="list-inline">

          <li><%= mail_to "advise@mg.400px.net", "建议反馈" %></li>
          <li><%= mail_to "b@mg.400px.net", "商务合作" %></li>
          <li><%= mail_to "webadmin@mg.400px.net", "网站管理员" %></li>
          <li><%= link_to '开发者Blog', "http://www.kejike.com/davidtsang" %></li>
          <li><%= link_to '关于', static_pages_about_path %></li>
        </ul>
        <ul class="list-unstyled tiny-text">

          <li><span>* 建议安装方正兰亭黑或冬青黑体获得更好的浏览效果</span></li>
          <li><span>* 建议使用Goolge Chrome、Firefox或IE9.0以上版本浏览器浏览本网站</span></li>
          <li class="footer-icon">
            <i class="fa fa-weixin fa-2x"></i><i class="fa fa-weibo fa-2x"></i>
            <a href="#top"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
          </li>


        </ul>
      </div>

    </div>


  </div>
  <hr>
<center>©2016 四百像素网 所有作品的版权归其作者所有. <a href="http://www.miitbeian.gov.cn">皖ICP备16001175号</a></center>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ad-home-google -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-9204397732419504"
       data-ad-slot="1650866279"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</footer>



<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73541083-1', 'auto');
    ga('send', 'pageview');

</script>


<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_111828115_12674834_48360534",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "23309289",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>



</body>


</html>
