<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - 400px.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="site-nav navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= static_pages_home_path %>"><img src="<%= asset_path "logo.png" %>"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a id="new-work-link" class="btn btn-primary " href="<%= new_work_path %>"><i class="fa fa-pencil"></i> 添加你的新作

        </a> </li>
        <li><%= link_to "主页", static_pages_home_path %></li>
        <li><%= link_to "设计师", designers_all_path %></li>
        <li><%= link_to "发现", explore_path %></li>
        <li><%= link_to "通知 #{uncheck_notify_count} ".html_safe, notifications_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>


            <li class="dropdown">
              <a href="#" id="nav-user-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:mini), :class => 'avatar' %></i><%=  pm = pm_count %> <%= current_user.name %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= "/designers/#{current_user.id}" %>"><i class="fa fa-home "></i> 我的主页</a>
               </li>
                <li>
                  <a href="<%= favorite_folders_path %>"><i class="fa fa-star "></i> 收藏夹 </a>
                   </li>
                <li>
                  <a href="<%= messages_path %>" ><i class="fa fa-envelope"></i> 私信 <%=  pm %></a>
                   </li>

                <li role="separator" class="divider"></li>
                <li>
                  <a href="<%=  edit_user_registration_path %>"><i class="fa fa-cog"></i> 会员设置 </a>
                 </li>
                <li>
                  <a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i> 退出</a>
                   </li>


              </ul>
            </li>


        <% else %>
            <li><%= link_to "注册", new_user_registration_path %> </li>
            <li><%= link_to "<i class='fa fa-user'></i> 登录".html_safe, new_user_session_path %></li>
        <% end %>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="搜索作品">
          </div>

        </form>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<% if flash.any? %>
<% content =
    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'.html_safe %>

    <% flash.each do |name, msg| -%>

    <%= content_tag :div, content + msg, class: "site-notice #{name} alert-dismissible alert", role: "alert" %>
<% end -%>

<% end %>

<%= yield %>



<footer>

  <div class="container-fluid">
    <div class="pull-left">
      <img src="<%= asset_path "logo-40pt-g.png" %>">
      <h4>中国设计师与艺术家的展示交流空间</h4>

      <p>Copyright © 400px.net. 所以作品的版权归其作者所有.</p>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li>400px使用指南</li>
        <li>建议反馈</li>
        <li>商务合作</li>
        <li>网站管理员</li>
        <li>开发者Blog</li>
      </ul>
      <ul class="list-unstyled">
        <li><span>* 建议使用Goolge Chrome、Firefox或IE9.0以上版本浏览器浏览本网站</span></li>
        <li><span>* 建议安装方正兰亭黑或冬青黑体获得更好的浏览效果</span></li>
        <li><span>Powered by Ruby on Rais and Bootstrap</span></li>
        <li><span>Version 0.1 beta</span></li>
      </ul>
    </div>

  </div>

</footer>
</body>


</html>
